body {
  margin: auto;
  background: #6441A5; 
  background: -webkit-linear-gradient(to left, #6441A5 , #2a0845); 
  background: linear-gradient(to left, #6441A5 , #2a0845);         
}
h3 {
	font-size: 20px !important;
	font-family: 'Raleway', sans-serif !important;
	color: #ffffff !important;
	margin-right: 2em;
	font-weight: bold !important;
}
h1 {
	align: center;
	font-size: 55px !important;
	font-weight: bold;
	margin-top: 7% !important;
	color: white !important;
	font-family: 'Raleway', sans-serif !important;
}
a {
font-family: 'Lobster', cursive !important;
font-size: 55px;
color: white !important;
text-decoration: none;
}
.circle {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  display: inline-block;
  border-top: 13px solid white;
  border-left: 13px solid transparent;
  border-right: 13px solid white;
  border-bottom: 13px solid white;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -150px;
}
.circle span {
  display: inline-block;
  transform: rotate(-45deg) translate(-50px, 70px);
  font-size: 2em;
  font-family: 'Raleway', sans-serif !important;
  color: #ffffff;
}
/*button {
	position: relative !important;
	margin-top: 33% !important;
	left: 46% !important;
	font-family: 'Raleway', sans-serif !important;
	moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: transparent;
  font-size: 20px !important;
  color: #ffffff;
}*/
