/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

@import "https://fonts.googleapis.com/css?family=Raleway";
@import "https://fonts.googleapis.com/css?family=Lobster";
body {
    margin: auto;
    background: #6441A5;
    background: -webkit-linear-gradient(to left, #6441A5, #2a0845);
    background: linear-gradient(to left, #6441A5, #2a0845);
    color: white;
    box-sizing: border-box;
}

h3.initial {
    font-size: 20px !important;
    font-family: 'Raleway', sans-serif !important;
    color: #ffffff !important;
    margin-right: 2em;
    font-weight: bold !important;
}
.brand-logo{
    font-family: 'Lobster', cursive !important;
    font-size: 18px;
}
h1.initial {
    text-align: center;
    font-size: 55px !important;
    font-weight: bold;
    margin-top: 7% !important;
    position: relative;
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
}

.lobster-link {
    font-family: 'Lobster', cursive !important;
    font-size: 55px;
    color: white !important;
    text-decoration: none;
}

a.link {
    font-size: 1em;
    color: white !important;
    text-decoration: none;
}

a.link:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, .5);
}

a {
    text-decoration: none !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

.circle {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    display: inline-block;
    border-top: 13px solid white;
    border-left: 13px solid transparent;
    border-right: 13px solid white;
    border-bottom: 13px solid white;
    transform: rotate(45deg);
    position: relative;
    /* top: 50%; */
    left: 50%;
    /* margin-top: -120px; */
    margin-left: -181.5px;
}
h6 {
    font-size: 18px !important;
}
/*
.circle span {
    display: inline-block;
    transform: rotate(-45deg) translate(-75px, 100px);
    font-size: 2em;
    width: 90%;
    padding: 0 .5em;
    font-family: 'Raleway', sans-serif !important;
    color: #ffffff;
}
*/

.circle #circle-text {
  display: inline-block;
  transform: rotate(-45deg) translate(-50px, 70px);
  font-size: 2em;
  font-family: 'Raleway', sans-serif !important;
  color: #ffffff;
  width: 90%;
}

.circle span i {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.circle span:hover i {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.progress {
    height: 100%;

    min-height: 30px;
    background-color: #f5f5f5;
    padding: 0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

/* .progress:hover {
    box-shadow: 2px 2px 3px black;
} */

.progress > .progress-bar:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.progress > .progress-bar.last {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.progress > .full.progress-bar:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.progress-bar {
    height: 100%;
    min-height: 30px;
    float: left;
    padding: .25em .5em;
    margin: 0;
    text-align: center;
    white-space: nowrap ;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
   

}

.no-margin-bottom {
    margin-bottom: 0 !important;
   

}

ul.right li {
    height: 100%;
}

i {
    color: white;
}

.scroll-click {
    font-size: 3em;
}

#navsearch {
    line-height: 1;
    padding: 0 .5em;
    height: 100%;
    /* background-color: rgba(52, 47, 46, .5); */
}

.nav-search {
    width: 10%;
    display: inline;
    line-height: 1;
    font-size: 1em;
}

#search {
    /* width: %; */
    border-bottom-color: white !important;
    /* font-size: 1em; */
    border: none;
    border-radius: .5em;
    line-height: 2;
    padding: .25em .5em;
    margin: 0;
    color:  rgba(0, 0, 0, .7);
    position: relative;
    top: -.25em;
}

#search::-webkit-input-placeholder {
    color:  rgba(0, 0, 0, .5);
}

.search-label {
    width: 10%;
    padding: 0 .25em;
    font-size: 1.85em;
    line-height: 1;
    color: white;
}

#search:focus {
    color: black;
    box-shadow: 0 0 3px 1px white;
    outline: none;
}


.side-nav .collapsible {
  margin: 0;
}

.side-nav li {
  float: none;
  line-height: 48px;
}

.side-nav li.active {
  background-color: black;
}

.side-nav a {
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  background-color: #342F2E;
  border-bottom: white 1px solid;
}

.side-nav a:hover {
  background-color: #DBDBDB;
  color: black !important;
}

.side-nav {
    background-color: #342F2E;
}

.row-eq-height {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 1em 0;
}

h6 {
    margin-bottom: 0;
}

hr {
    margin-bottom: 2em;
    margin-top: 1em;
}

.color-key {
    margin: 1em 0;
    vertical-align: baseline;
}

.color-key .key:first-child {
    margin-left: 0 !important;
}

.key {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin: 0em 0.5em 0 0.5em;
    border-radius: 4px;
}

.key-label {
    height:100%;
    display: inline-block;
    top: -.25em;
    position: relative;
    font-family: 'Lobster', cursive !important;
    font-size: 10px;

}

/* FOR PREREQS PAGE */

#mynetwork {
    max-width: 1000px;
    height: 400px;
/*     border: 1px solid lightgray; */
/*     background-color: #222222; */
/*     background: -webkit-linear-gradient(to left, #6441A5, #2a0845) !important;
    background: linear-gradient(to left, #6441A5, #2a0845) !important; */
}
.div-tooltip {
    color: red;
}

#course-link {
    visibility: hidden;
}

#course-link i {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#course-link:hover i{
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}
.collapsible {
    border: none;
    margin: none;
    box-shadow: none;
}
.collapsible-body {
    padding: 0;
    border: none;
}

.collapsible-body .collection-item {
   padding: 0.25em;
   border: none;
   margin: none;
}

.secondary-content i {
    color: black;
}

.collection .collection-item a.class-link {
    color: black !important;
}

.collection .collection-item a.class-link:hover {
    text-decoration: underline !important;
}



